

td {
	height:45px;
}


td p {
	margin-bottom:10px;
}

.buscador_fecha {
	padding-left:300px;
	padding-top:50px;
	
}

small {
	margin-bottom:20px;
}

#informacion_extra_usuario {
	display:inline;
	padding-left:20px;
}

#tabla_registro label{
	color:#000;
	font-weight:bold;
	font-size:16px;
	padding-left:10px;
	
}



#tabla_registro select{
	margin-top:5px;
	padding:4px;
	border:1px solid #c0c0c0;
	background:#fff;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;		
}

#tabla_registro .registro_input_chico{
	width:79px;
}

#tabla_registro .registro_input_grande{
	width:300px;
}

#tabla_registro .registro_input_mediano{
	width:183px;
}


#tabla_registro .registro_fecha_dia{
	font-size:11px;
	color:#000;	
	width:63px;
	height:26px;
	background:#fff;	
}

#tabla_registro .registro_fecha_mes {
	font-size:11px;
	margin-left:13px;
	color:#000;	
	width:100px;
	height:26px;
	background:#fff;	
}

#tabla_registro .registro_fecha_ano{
	font-size:11px;
	margin-left:13px;
	color:#000;	
	width:70px;
	height:26px;
	background:#fff;
}

#tabla_registro .registro_fecha_separacion {

}

.registro_error {
	display: block;
	margin-top:8px;
	color: #DD4B39;
	line-height: 17px;
	font-size:12px;
	
}

.registro_opcion {
	display: block;
	margin-top:8px;
	color: #606060;
	line-height: 17px;
	font-size:12px;
	
}
.eliminar_flotante {
	float:none;
	clear:both;
}
.registro_condiciones {
	display: block;
	margin-top:8px;
	color: #000;
	line-height: 17px;
	font-size:12px;
	
}

.registro_separacion {
	height:20px;
}

.registro_select_grande {
	width:265px;
	height:26px;
}

.registro_bien {
	width:217px;
	color:#68b21f;
	font-weight:bold;
	font-size:14px;
	padding:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;		
}

.registro_mal {
	width:300px;
	border:1px solid #cf194d;
	color:#cf194d;
	background:#fddbd6;
	padding:6px;	
}

#error_general{
	border:1px solid #cf194d;
	color:#cf194d;
	background:#fddbd6;
	padding:10px;
	margin-bottom:15px;
}

#error_general ul{
	margin-top:3px;
	margin-left:10px;
}

#error_general ul li{
	list-style:none;
	padding:2px;
}
.registro_cargando {
	width:217px;
	color:#696a68;
}

.registro_aclaracion {
	width:300px;
	color:#e52510;
	padding:6px;
}

#tabla_registro td {
	height:60px;
}

#boton_susbribirse {
	font-size:24px;
	padding:16px 20px;
	background:#e52412;
	color:#FFF;
	border:1px solid #900;
	cursor:pointer;
}

#boton_susbribirse:hover{
	background:#f28502;
}

#error_general_contenedor {
	padding-right:40px;
}

#logo_contenedor {
	margin-left:-22px;
	height:27px;
}



.titulo_contenedor {
	margin-bottom:40px;
	margin-left:-40px;
}

.hr {
	color:#f48600;
	background-color:#f48600;
	width:870px;
	height:2px;
}
div.hr hr {
  display: none;
}

.boton_logout {
	background:#F60;
	color:#000;
	font-weight:bold;
	font-size:14px;
	padding:8px;
	float:right;
}

.boton_logout:hover {
	background:#FC0;
}


.formulario_error {
	margin-top:10px;
	background:#FCC;
	color:#C00;
	border:1px solid #C00;
	padding:20px;
	font-weight:bold;
}